/* Results page styles */

.facet {
    background: none repeat scroll 0 0 #eee;
    list-style-type: none;
    margin: 0 0 2em;
    padding: 1em;
}

.facet-heading {
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 1em;
}

.facet-link.facet {
    background-color: #f2f2f2;
    border: medium none;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0.5em;
    padding: 0.25em 1em;
}

.ssgs-search-result-item {
    display: block;
    float: left;
    margin-bottom: 1em;
    padding-left: 80px;
    position: relative;
    width: 100%;
}

.ssgs-result-thumbnail {
    float: left;
    left: 0;
    position: absolute;
    width: 70px;
    z-index: 1;
}

.ssgs-result-title {
	margin-bottom:0.5em;
}

.ssgs-result-title > a {
	color:#333;
	font-weight:bold;
}

.ssgs-result-description > b {
	color:#c7391a;
}

.ssgs-result-title > a:hover {
	color:#eb661a;
}

.ssgs-pages {
    background-color: #eee;
    clear: both;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
}

.facet-filter > li,

.ssgs-pages > li {
    display:inline;
}

.ssgs-page {
    padding: 0.3em 0.75em;
    margin-right: 0.5em;
}

.facet-filter > li > a {
    background-color: #eee;
    font-weight: bold;
    padding: 0.6em 1em;
}

.facet-filter > li.selected > a {
    background-color: #555;
    color: #fff;
}
