/* Results page styles */

.ssgs_search_result_item {
    display: block;
    float: left;
    margin-bottom: 1em;
    padding-left: 80px;
    position: relative;
    width: 100%;
}

.ssgs_result_thumbnail {
    float: left;
    left: 0;
    position: absolute;
    width: 70px;
    z-index: 1;
}

.ssgs_result_title {
	margin-bottom:0.5em;
}

.ssgs_result_title > a {
	color:#333;
	font-weight:bold;
}
